/.htaccess
/.env
/manager/includes/config.inc.php
/manager/includes/extra.config.php

# システムが動的に生成するサーバ固有のファイルのため同期が不要なファイル・ディレクトリ
.thumbs/
/temp/cache/*
/temp/*

# gitは空のディレクトリを管理しないため、空のディレクトリを同期したい場合は、
# このファイルが存在するディレクトリに.gitkeepという名前の空ファイルを作成してください
!.gitkeep
