body {font-size: 75% !important;}
td.comment, span.comment,
body #supplementalNav,
body .dynamic-tab-pane-control .tab-row .tab,
body .dynamic-tab-pane-control .tab-row .tab span,
body .custom-title,body .custom-text,
body .dp_cal select,
body .dp_cal th, body .dp_cal td,
small {font-size:12px;}
body h1 {font-weight:bold;font-size: 144%;}
div.sectionBody h1 {font-weight:normal;font-size: 164%;}
i, em {font-style:normal;}

a#button7 {margin:7px 3px;border:1px solid #ccc;background-color:#eee;text-decoration:none;cursor:pointer;padding: 2px 4px;color:#333;}

td input.button {width:30px !important;cursor:pointer;border:1px solid #ccc; background-color:#f5f5f5;margin-left:5px; margin-bottom: 3px; padding:2px 5px;}
