<a name="jotmod[+jot.link.id+]"></a>
<div class="jot-list">
<b>Moderation:</b>
<ul>
<li>現在 <b>[+jot.moderation.view:select=`0=unpublished&1=published&2=mixed`+]</b> コメントを閲覧しています。</li>
[+jot.moderation.view:isnt=`0`:then=`
<li><a href="[+jot.link.view:esc+][+jot.querykey.view+]=0#jotmod[+jot.link.id+]">未公開のコメント</a> を見る ([+jot.moderation.unpublished+])</li>
`:strip+]
[+jot.moderation.view:isnt=`1`:then=`
<li><a href="[+jot.link.view:esc+][+jot.querykey.view+]=1#jotmod[+jot.link.id+]">公開済みのコメント</a> を見る ([+jot.moderation.published+])</li>
`:strip+]
[+jot.moderation.view:isnt=`2`:then=`
<li><a href="[+jot.link.view:esc+][+jot.querykey.view+]=2#jotmod[+jot.link.id+]">混在コメント</a> を見る ([+jot.moderation.mixed+])</li>
`:strip+]
</ul>
</div>