/* init **************/
html                        {font-family:Arial,"Helvetica Neue",Helvetica,Meiryo,"Hiragino Kaku Gothic Pro","MS PGothic",sans-serif;font-size:100.01%;overflow-y:scroll;}
body                        {font-size:small;}
input, select, textarea     {font:inherit;}
body                        {text-align:center;}
.wrap                       {text-align:left;}
img, h1, ul, li             {margin:0;padding:0;}
img                         {border:none;vertical-align:bottom;}

/* width *************/
.wrap                       {width:798px;}

/* font color ********/
body                        {color:#444;}

.slogan,
.navi ul li a:link,
.navi ul li a:visited,
.navi ul ul li a,
.content .subnavi,
.content .subnavi,
.content .subnavi a:link,
.content .subnavi a:visited,
.footer,
.footer a:visited,
.footer a:link              {color:#ffffff;}

/* background color **/
body,.wrap                  {background-color:#ffffff;}
.navi ul li:hover ul a,
.navi,
.content .subnavi           {background-color:#8c969c;}
.navi ul li:hover a,
.navi ul li:hover li a:hover,
.navi ul li.active,
.navi ul li a:hover,
.subnavi li:hover a,
.subnavi li:hover li a:hover,
.subnavi li.active,
.subnavi li a:hover
                            {background-color:#404d56;}
.footer                     {background-color:#6b7881;}
.slogan                     {background-color:#65727B;}

/* background image **/
body                        {
                             background-image:url(images/bg.png);
                             background-repeat:repeat-x;
                            }
.content                    {
                             background-image:url(images/content_bg.gif);
                             background-repeat:repeat-x;
                            }

/* block layout *******/
.wrap                       {border:1px solid #ddd;}
.wrap                       {
                             margin:10px auto;
                             box-shadow:0 0 15px #cdcdcd;
                             -moz-box-shadow:0 0 15px #cdcdcd;
                             -webkit-box-shadow:0 0 20px #e5e5e5;
                            }
.slogan                     {padding:5px;}
.navi ul                    {
                             overflow:hidden;zoom:1;
                             list-style-type:none;
                            }
.navi ul li                 {
                             float:left;
                             letter-spacing:1px;
                             display: block;
                            }

.navi ul li a               {
                              display:block;
                              padding: 8px;
                            }
.navi ul li a:link,
.navi ul li a:visited,
.subnavi a:link,
.subnavi a:visited
                            {text-decoration: none;line-height:1.3}
.navi ul li ul              {display: none;}
.navi ul li:hover ul a      {
                             filter: alpha(opacity=92);
                             opacity:0.92;
                            }
.navi ul li:hover ul        {
                             display: block;
                             position: absolute;
                             z-index:10000;
                            }
.navi ul li:hover li        {
                             float: none;
                             border-top: 1px solid #ffffff;
                            }

.content                    {
                             overflow:hidden;zoom:1;
                             padding:20px;
                             border-top:1px solid #eee;
                            }
.content .subnavi           {
                             border:1px solid #8c969c;
                             border-radius:3px;
                             float:right;
                             margin:0 0 10px 10px;
                             list-style-type:none;
                            }
.content .subnavi li        {
                             margin:0;
                            }
.content .subnavi a         {
                             display:block;
                             padding:.8em;
                            }

.footer                     {
                             padding:30px;
                             text-align:center;
                            }
